<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Buscar localização" name="city" [(ngModel)]="initialCityName" />
  </form>

  <span (click)="onSubmit()">
    <fa-icon
      animation="fade"
      style="--fa-animation-duration: 5s; cursor: pointer"
      size="lg"
      class="search-icon"
      [icon]="searchIcon"
    ></fa-icon>
  </span>
</div>

<app-weather-card *ngIf="WeatherDatas" [WeatherDatasInput]="WeatherDatas"></app-weather-card>
